/* Медіа запит для екранів меншої ширини */
@media screen and (max-width: 960px) {
  /* Задаємо відносну ширину виводу контенту */
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

/* Медіа запит для екранів меншої ширини */
@media screen and (max-width: 768px) {
  /* Змінюємо меню на вертикальне */
  .main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  /* Задаємо відносну ширину для елементів меню */
  .main-menu li {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Задаємо висоту шапки сайту */
  header {
    height: 150px;
  }
}

/* Медіа запит для Internet Explorer 10 та нижчих версій */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* Відображаємо приховане повідомлення */
  .ie-message {
    display: block;
  }
}
